
#wrap {

  background: linear-gradient(90deg, #13A8A8 0%, #7E188A 100%); 
  }
  
  #main {
    overflow:auto;
    padding-bottom:30px; /* this needs to be bigger than footer height*/
  }
  
  .footer {
    position: relative;
    margin-top: -30px; /* negative value of footer height */
    height: 30px;
    clear:both;
    padding-top:20px;
  } 