h1{
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}

::ng-deep .mat-form-field-ripple {
  background-color: #7E188A !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #7E188A !important;
    opacity: 0.7;
  }

  #btn-form{
      border-radius: 20px;
    border: 2px solid #13A8A8;
  }
 #btn-form:hover{
    background: #13A8A8;
    color: #fff;
  }

  .av:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }

  mat-card:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}

.type-text{
  font-size: 18px;
  
}