


<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand text-light" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <button mat-raised-button style="background: #7E188A; color: #fff;" class="mr-3">Accedi</button>
      </li>
      <li class="nav-item active">
        <button mat-raised-button style="color: #7E188A;">Registrati</button>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-4 mr-5 text-light" href="#"><i class="material-icons">shopping_cart</i></a>
      </li>
 
    </ul>
  </div>
</nav>