<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Gestione Magazzino">
           <app-magazzino></app-magazzino></mat-tab>
          <mat-tab label="Gestione Ordini"><app-ordini></app-ordini></mat-tab>
          <mat-tab label="Storico / Resoconto"><app-storico></app-storico></mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>

