<h1 mat-dialog-title>Eliminare prodotto Pinocchio?</h1>
<div mat-dialog-content>
    <button class="mr-2" mat-raised-button type="button" color="warn" aria-label="Save name">
        Elimina Prodotto
      </button>
  <button mat-raised-button (click)="onNoClick()">Chiudi</button>
</div>
