::ng-deep .mat-form-field-ripple {
    background-color: #7E188A !important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #7E188A !important;
      opacity: 0.7;
    }

