<h1 mat-dialog-title>Aggiungi Prodotto</h1>
<div mat-dialog-content>

    <form  style="width: 100%;">
        <mat-form-field class="mr-3" style="width: 80%;">
            <mat-label>Nome Prodotto</mat-label>
          <input  matInput type="text">
        </mat-form-field>

        <mat-form-field class="mr-3" style="width: 80%;">
            <mat-label>Quantità</mat-label>
          <input  matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Unità di misura</mat-label>
          <mat-select>
            <mat-option *ngFor="let u of unitaMisura" [value]="u.value">
              {{u.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        

        <mat-form-field class="mr-3" style="width: 80%;">
            <mat-label>Prezzo</mat-label>
          <input  matInput type="text">
        </mat-form-field>

      </form>

</div>
<div mat-dialog-actions>
    
    <button class="mr-2" mat-raised-button type="button" style="background: #13A8A8;color:#fff" aria-label="Save name">
        Aggiungi Prodotto
      </button>
  <button mat-raised-button (click)="onNoClick()">Chiudi</button>
</div>