
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 mat-dialog-title>Dettagli ordine #2323</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <h3>Just Pesce</h3>
        <h3>Via Stronzo 23 Roma</h3>
        <h3>3339878774</h3>
    </div>
    </div>
</div>


<div class="container"  style="margin-top: 5%;">
    <div class="row">
        <div class="col">
            <div class="mat-elevation-z8 col-12">
                <table class="col-12" style="width: 800px;" mat-table [dataSource]="dataSource">
              
                  <!-- Id Column -->
                  <ng-container matColumnDef="nomeProdotto">
                    <th mat-header-cell *matHeaderCellDef> Nome Prodotto</th>
                    <td mat-cell *matCellDef="let element"> {{element.nomeProdotto}} </td>
                  </ng-container>
              
                  <!-- Nome Column -->
                  <ng-container matColumnDef="quantita">
                    <th mat-header-cell *matHeaderCellDef> Utente </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
                  </ng-container>
              
                  <!-- Quantita Column -->
                  <ng-container matColumnDef="prezzo">
                    <th mat-header-cell *matHeaderCellDef> Ritiro Prodotto </th>
                    <td mat-cell *matCellDef="let element"> {{element.prezzo}} </td>
                  </ng-container>
              
                  <!-- Btn Column -->
                

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  
                </table>
            
              
                <div id="last-elements" class="row">
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
                </div>

                <!--SISTEMARE MODALE. SCRITTA SUBTOTALE E AGGIUNGERE PULSANTE CHIUDI-->
                <h3 class="mat-subheading-2">Sub Totale</h3>
     
              </div>
        </div>
        
    </div>
    <div class="row">

    </div>
    
</div>