<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="display-1 ml-5 mt-5">Gestione ordini di Pesce Fresco</h1>

        </div>
    </div>
    
</div>



<div class="container"  style="margin-top: 7%;margin-bottom:1%">
    <div class="row">
        <div class="col">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Id Column -->
                  <ng-container matColumnDef="codiceOrdine">
                    <th mat-header-cell *matHeaderCellDef> Codice Ordine </th>
                    <td mat-cell *matCellDef="let element"> {{element.codiceOrdine}} </td>
                  </ng-container>
              
                  <!-- Nome Column -->
                  <ng-container matColumnDef="utente">
                    <th mat-header-cell *matHeaderCellDef> Utente </th>
                    <td mat-cell *matCellDef="let element"> {{element.utente}} </td>
                  </ng-container>
              
                  <!-- Quantita Column -->
                  <ng-container matColumnDef="subTotale">
                    <th mat-header-cell *matHeaderCellDef> Sub Totale </th>
                    <td mat-cell *matCellDef="let element"> {{element.subTotale}} </td>
                  </ng-container>
              

                  <!-- Btn Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Azioni </th>
                    <td mat-cell *matCellDef="let element" >
                      <button (click)="openModalDetail()"id="btn-modifica"  mat-raised-button><mat-icon>edit</mat-icon></button>
                    </td>
                </ng-container> 
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  
                </table>
            
              
                <div id="last-elements" class="row">
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
                </div>
     
              </div>
        </div>
        
    </div>
    
</div>