h1{
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}
html,
body {
  height: 100%
}

mat-card:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}

::ng-deep .mat-card{
    border: 1px solid rgba(19,168,168,0.3)!important;
   }